In [1]:
# Comment : Hi this is  Sumit
# Here
'''

This is my first programming on python

'''

'\n\nThis is my first programming on python\n\n'

In [2]:
x = 9 # integer
y = 7.0 # float
z = " Hello " # string
Z = " Data Science "
A = " Here is my new begining "
print(x)
print(y)
print(z)
print(Z)
print(A)

9
7.0
 Hello
 Data Science
 Here is my new begining

In [3]:
sum_ = x + y
print (sum_)

16.0

In [4]:
sub_ = x-y
print (sub_)

2.0

In [5]:
v = " is Awesome!"
sum_string = Z + " " + v 
print(sum_string)
print("The sum of x and y is %.4f"%sum_) 
print("The string `sum_string` is '%s'"%sum_string)

 Data Science   is Awesome!
The sum of x and y is 16.0000
The string `sum_string` is ' Data Science   is Awesome!'

In [6]:
myStringHere = 'my string'
myStringHere

'my string'

In [7]:
x = 9
x_9 = "xyz"
9_x = "456"

SyntaxError: invalid token (<ipython-input-7-45c8ba370826>, line 3)

In [8]:
store_name = "Hi World"

In [9]:
name_13 = store_name[1:4]
print(name_13)

i W

In [10]:
last_latter = store_name[-1]
print(last_latter)

d

In [11]:
a_list = [1, 2, 3, 4, 5, 6] 
print("Length of a_list is: %i"%(len(a_list)))
print("The 3rd element of a_list is: %s" %(a_list[2])) 
print("The last element of a_list is: %s" %(a_list[-1])) 
print("The sum of a_list is %.2f"%(sum(a_list)))

b_list = [100, False, "awesome", "great"] 
b_list

Length of a_list is: 6
The 3rd element of a_list is: 3
The last element of a_list is: 6
The sum of a_list is 21.00

[100, False, 'awesome', 'great']

In [13]:
print(a_list)
print ("pop %i out of a_list"%a_list.pop(1))
print (a_list)

a_list.append(800)
print(a_list)
print("after appanding a new value, a_list is now: %s"%(str(a_list)))

a_list.extend(b_list)
print("merging a_list and b_list: %s"%(str(a_list)))

a_list.insert (5, 500)
print(a_list)

[1, 3, 4, 5, 6, 500, 800, 100, False, 'awesome', 'great']
pop 3 out of a_list
[1, 4, 5, 6, 500, 800, 100, False, 'awesome', 'great']
[1, 4, 5, 6, 500, 800, 100, False, 'awesome', 'great', 800]
after appanding a new value, a_list is now: [1, 4, 5, 6, 500, 800, 100, False, 'awesome', 'great', 800]
merging a_list and b_list: [1, 4, 5, 6, 500, 800, 100, False, 'awesome', 'great', 800, 100, False, 'awesome', 'great']
[1, 4, 5, 6, 500, 500, 800, 100, False, 'awesome', 'great', 800, 100, False, 'awesome', 'great']

In [14]:
a_list[3] = 15
print (a_list)

[1, 4, 5, 15, 500, 500, 800, 100, False, 'awesome', 'great', 800, 100, False, 'awesome', 'great']

In [15]:
a_tuple = (1, 3, 7, 9, 11)
print(a_tuple)
print("First element of a_tuple: %i"%a_tuple[0])

a_tuple[3] = 5

(1, 3, 7, 9, 11)
First element of a_tuple: 1

TypeError: 'tuple' object does not support item assignment

In [16]:
a_tuple = (1) 
print(type(a_tuple))
b_tuple = (1,)
print(type(b_tuple))

<class 'int'>
<class 'tuple'>

In [17]:
### Create a string variable to concert all its characters into Upper Case

In [23]:
a = "world"

print(a.upper())

WORLD

In [24]:
d = {"Name":"Sumit", "SchoolYears":2010, "Country":"01" , "Names":"Abhishek"}

In [25]:
print(d)

{'Name': 'Sumit', 'SchoolYears': 2010, 'Country': '01', 'Names': 'Abhishek'}

In [29]:
d["Name"]= "Chatterjee"
print(d)

{'Name': 'Chatterjee', 'SchoolYears': 2010, 'Country': '01', 'Names': 'Abhishek'}

In [30]:
l = [5,8,7,5]
print(l)
print(set(1))

[5, 8, 7, 5]

TypeError: 'int' object is not iterable

In [35]:
print(9 == 11)
print(72 >= 2)
print(store_name)
print(store_name == "Awesome") # Will return a boolean value True or False

# A Tricky situation.. Any reason why its false
print(3.7 * 4.0)
print(3.7 * 4.0 == 14.8)
print(3.7 * 4.0 == 14.800001)

False
True
Hi World
False
14.8
True
False

In [39]:
sum_ = 9.0

In [40]:
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_))

sum_ is above 0 and its value is 9.0

In [41]:
if sum_ > 2:
    print('sum_ is above 2')

sum_ is above 2

In [42]:
for letter in store_name:
    print(letter)

H
i

W
o
r
l
d

In [44]:
print("range(5) gives" + str(list(range(9)))) 
print("range(1,9) gives: " + str(list(range(1, 15))))

range(5) gives[0, 1, 2, 3, 4, 5, 6, 7, 8]
range(1,9) gives: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [45]:
len(store_name)

8

In [46]:
for index in range(len(store_name)): # length of a sequence
    print("The %ith letter in store_name is: %s"%(index, store_name[index]))

The 0th letter in store_name is: H
The 1th letter in store_name is: i
The 2th letter in store_name is:
The 3th letter in store_name is: W
The 4th letter in store_name is: o
The 5th letter in store_name is: r
The 6th letter in store_name is: l
The 7th letter in store_name is: d

In [50]:
x = 2
while x < 10:
    print(x)
    x = x + (x-1)
    #print(x)

2
3
5
9

In [51]:
store_name

'Hi World'

In [53]:
index = 0
while True:
    print(store_name[index])
    index += 1 
    if store_name[index] == "d":
        print("End at d")
        break 
        print("Hello!")

H
i

W
o
r
l
End at d

In [55]:
index = 0
print('Orignal length of store_name is %s'%(len(store_name)))
while index <= len(store_name)-1:
    print(store_name[index])
    if store_name[index] == "d":
        print("This is an d")
        index += 1 
        continue
    print("Hello!") 
    index += 1

Orignal length of store_name is 8
H
Hello!
i
Hello!

Hello!
W
Hello!
o
Hello!
r
Hello!
l
Hello!
d
This is an d

In [56]:
print(type(store_name))
print(len(store_name))
print(callable(dict))
print(sum([0,2,5,7,10]))
print("Sum of values from 0 to 20: %.2f"%sum(range(20))) 
print('Maximum value in list is: %s'%max(range(20)))
print('Minimum value in list is: %s'%min(range(20)))

<class 'str'>
8
True
24
Sum of values from 0 to 20: 190.00
Maximum value in list is: 19
Minimum value in list is: 0

In [57]:
some_list = [0,2,5,10,-5,-2,21]
print(sorted(some_list))
some_list.sort(reverse=True)
print ('Sorted list (in Descending):', some_list)

[-5, -2, 0, 2, 5, 10, 21]
Sorted list (in Descending): [21, 10, 5, 2, 0, -2, -5]

In [58]:
ex = "India"

In [60]:
some_string = 'Home Town'
print(some_string.capitalize())
print(some_string.upper())
print(some_string.lower())
print(some_string.count('a'))
print(some_string.startswith('a'))
print(some_string.endswith('d'))
print(some_string.replace('d','ds'))

Home town
HOME TOWN
home town
0
False
False
Home Town

In [61]:
dictName = {'Name':'Prabir',"Last_Name":'Chatterjee',"Age":56, 'Kids':[1,2]}
print(dictName)

{'Name': 'Prabir', 'Last_Name': 'Chatterjee', 'Age': 56, 'Kids': [1, 2]}

In [62]:
print(dictName.items())

dict_items([('Name', 'Prabir'), ('Last_Name', 'Chatterjee'), ('Age', 56), ('Kids', [1, 2])])

In [63]:
for key in dictName.items():
    print(key)

('Name', 'Prabir')
('Last_Name', 'Chatterjee')
('Age', 56)
('Kids', [1, 2])

In [64]:
print(dictName['Age'])

for key,val in dictName.items():
    print(key, "=>", val)

print(dictName.values())

56
Name => Prabir
Last_Name => Chatterjee
Age => 56
Kids => [1, 2]
dict_values(['Prabir', 'Chatterjee', 56, [1, 2]])

In [66]:
range(9) # [0,1,2,3,4,5,6,7,8]

range(0, 9)

In [67]:
def mySum(list_to_sum):
    return sum(list_to_sum)

In [68]:
vari = mySum(range(200))
print(vari)

19900

In [69]:
def mySumUsingLoop(list_to_sum):
    sum_ = list_to_sum[0]
    for item in list_to_sum[1:]:
        sum_ += item
    return sum_

In [70]:
def customSum(x,y):
    z = x + y
    print(z)

In [71]:
customSum(1500,7500)

9000

In [73]:
Lst = [0,1,2,3,4,5,6,7,8]

In [74]:
mySumUsingLoop(range(200))

19900

In [75]:
print(mySum(range(200)))

19900

In [93]:
Newdict = [{ "name" : "Sumit", "age" : 25},{ "name" : "Prabir", "age" : 56 },{ "name" : "Arati" , "age" : 45 },
           { "name" : "Arpita" , "age" : 29 }, { "name" : "Krishna" , "age" : 32 }, { "name" : "Sudipa" , "age" : 20 },
          { "name" : "Vihaan" , "age" : 4 }]

In [103]:
Newdict.sort(key=lambda x:x["age"])
print(Newdict)

[{'name': 'Vihaan', 'age': 4}, {'name': 'Sudipa', 'age': 20}, {'name': 'Sumit', 'age': 25}, {'name': 'Arpita', 'age': 29}, {'name': 'Krishna', 'age': 32}, {'name': 'Arati', 'age': 45}, {'name': 'Prabir', 'age': 56}]

In [104]:
Newdict.sort(key=lambda x:x["name"])
print(Newdict)

[{'name': 'Arati', 'age': 45}, {'name': 'Arpita', 'age': 29}, {'name': 'Krishna', 'age': 32}, {'name': 'Prabir', 'age': 56}, {'name': 'Sudipa', 'age': 20}, {'name': 'Sumit', 'age': 25}, {'name': 'Vihaan', 'age': 4}]

In [107]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
 
for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter lower range: 1
Enter upper range: 10000
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999
2003
2011
2017
2027
2029
2039
2053
2063
2069
2081
2083
2087
2089
2099
2111
2113
2129
2131
2137
2141
2143
2153
2161
2179
2203
2207
2213
2221
2237
2239
2243
2251
2267
2269
2273
2281
2287
2293
2297
2309
2311
2333
2339
2341
2347
2351
2357
2371
2377
2381
2383
2389
2393
2399
2411
2417
2423
2437
2441
2447
2459
2467
2473
2477
2503
2521
2531
2539
2543
2549
2551
2557
2579
2591
2593
2609
2617
2621
2633
2647
2657
2659
2663
2671
2677
2683
2687
2689
2693
2699
2707
2711
2713
2719
2729
2731
2741
2749
2753
2767
2777
2789
2791
2797
2801
2803
2819
2833
2837
2843
2851
2857
2861
2879
2887
2897
2903
2909
2917
2927
2939
2953
2957
2963
2969
2971
2999
3001
3011
3019
3023
3037
3041
3049
3061
3067
3079
3083
3089
3109
3119
3121
3137
3163
3167
3169
3181
3187
3191
3203
3209
3217
3221
3229
3251
3253
3257
3259
3271
3299
3301
3307
3313
3319
3323
3329
3331
3343
3347
3359
3361
3371
3373
3389
3391
3407
3413
3433
3449
3457
3461
3463
3467
3469
3491
3499
3511
3517
3527
3529
3533
3539
3541
3547
3557
3559
3571
3581
3583
3593
3607
3613
3617
3623
3631
3637
3643
3659
3671
3673
3677
3691
3697
3701
3709
3719
3727
3733
3739
3761
3767
3769
3779
3793
3797
3803
3821
3823
3833
3847
3851
3853
3863
3877
3881
3889
3907
3911
3917
3919
3923
3929
3931
3943
3947
3967
3989
4001
4003
4007
4013
4019
4021
4027
4049
4051
4057
4073
4079
4091
4093
4099
4111
4127
4129
4133
4139
4153
4157
4159
4177
4201
4211
4217
4219
4229
4231
4241
4243
4253
4259
4261
4271
4273
4283
4289
4297
4327
4337
4339
4349
4357
4363
4373
4391
4397
4409
4421
4423
4441
4447
4451
4457
4463
4481
4483
4493
4507
4513
4517
4519
4523
4547
4549
4561
4567
4583
4591
4597
4603
4621
4637
4639
4643
4649
4651
4657
4663
4673
4679
4691
4703
4721
4723
4729
4733
4751
4759
4783
4787
4789
4793
4799
4801
4813
4817
4831
4861
4871
4877
4889
4903
4909
4919
4931
4933
4937
4943
4951
4957
4967
4969
4973
4987
4993
4999
5003
5009
5011
5021
5023
5039
5051
5059
5077
5081
5087
5099
5101
5107
5113
5119
5147
5153
5167
5171
5179
5189
5197
5209
5227
5231
5233
5237
5261
5273
5279
5281
5297
5303
5309
5323
5333
5347
5351
5381
5387
5393
5399
5407
5413
5417
5419
5431
5437
5441
5443
5449
5471
5477
5479
5483
5501
5503
5507
5519
5521
5527
5531
5557
5563
5569
5573
5581
5591
5623
5639
5641
5647
5651
5653
5657
5659
5669
5683
5689
5693
5701
5711
5717
5737
5741
5743
5749
5779
5783
5791
5801
5807
5813
5821
5827
5839
5843
5849
5851
5857
5861
5867
5869
5879
5881
5897
5903
5923
5927
5939
5953
5981
5987
6007
6011
6029
6037
6043
6047
6053
6067
6073
6079
6089
6091
6101
6113
6121
6131
6133
6143
6151
6163
6173
6197
6199
6203
6211
6217
6221
6229
6247
6257
6263
6269
6271
6277
6287
6299
6301
6311
6317
6323
6329
6337
6343
6353
6359
6361
6367
6373
6379
6389
6397
6421
6427
6449
6451
6469
6473
6481
6491
6521
6529
6547
6551
6553
6563
6569
6571
6577
6581
6599
6607
6619
6637
6653
6659
6661
6673
6679
6689
6691
6701
6703
6709
6719
6733
6737
6761
6763
6779
6781
6791
6793
6803
6823
6827
6829
6833
6841
6857
6863
6869
6871
6883
6899
6907
6911
6917
6947
6949
6959
6961
6967
6971
6977
6983
6991
6997
7001
7013
7019
7027
7039
7043
7057
7069
7079
7103
7109
7121
7127
7129
7151
7159
7177
7187
7193
7207
7211
7213
7219
7229
7237
7243
7247
7253
7283
7297
7307
7309
7321
7331
7333
7349
7351
7369
7393
7411
7417
7433
7451
7457
7459
7477
7481
7487
7489
7499
7507
7517
7523
7529
7537
7541
7547
7549
7559
7561
7573
7577
7583
7589
7591
7603
7607
7621
7639
7643
7649
7669
7673
7681
7687
7691
7699
7703
7717
7723
7727
7741
7753
7757
7759
7789
7793
7817
7823
7829
7841
7853
7867
7873
7877
7879
7883
7901
7907
7919
7927
7933
7937
7949
7951
7963
7993
8009
8011
8017
8039
8053
8059
8069
8081
8087
8089
8093
8101
8111
8117
8123
8147
8161
8167
8171
8179
8191
8209
8219
8221
8231
8233
8237
8243
8263
8269
8273
8287
8291
8293
8297
8311
8317
8329
8353
8363
8369
8377
8387
8389
8419
8423
8429
8431
8443
8447
8461
8467
8501
8513
8521
8527
8537
8539
8543
8563
8573
8581
8597
8599
8609
8623
8627
8629
8641
8647
8663
8669
8677
8681
8689
8693
8699
8707
8713
8719
8731
8737
8741
8747
8753
8761
8779
8783
8803
8807
8819
8821
8831
8837
8839
8849
8861
8863
8867
8887
8893
8923
8929
8933
8941
8951
8963
8969
8971
8999
9001
9007
9011
9013
9029
9041
9043
9049
9059
9067
9091
9103
9109
9127
9133
9137
9151
9157
9161
9173
9181
9187
9199
9203
9209
9221
9227
9239
9241
9257
9277
9281
9283
9293
9311
9319
9323
9337
9341
9343
9349
9371
9377
9391
9397
9403
9413
9419
9421
9431
9433
9437
9439
9461
9463
9467
9473
9479
9491
9497
9511
9521
9533
9539
9547
9551
9587
9601
9613
9619
9623
9629
9631
9643
9649
9661
9677
9679
9689
9697
9719
9721
9733
9739
9743
9749
9767
9769
9781
9787
9791
9803
9811
9817
9829
9833
9839
9851
9857
9859
9871
9883
9887
9901
9907
9923
9929
9931
9941
9949
9967
9973

In [109]:
n=int(input("Enter upper limit of range: "))
sieve=set(range(2,n+1))
while sieve:
    prime=min(sieve)
    print(prime,end="\t")
    sieve-=set(range(prime,n+1,prime))
 
print()

Enter upper limit of range: 10000
2	3	5	7	11	13	17	19	23	29	31	37	41	43	47	53	59	61	67	71	73	79	83	89	97	101	103	107	109	113	127	131	137	139	149	151	157	163	167	173	179	181	191	193	197	199	211	223	227	229	233	239	241	251	257	263	269	271	277	281	283	293	307	311	313	317	331	337	347	349	353	359	367	373	379	383	389	397	401	409	419	421	431	433	439	443	449	457	461	463	467	479	487	491	499	503	509	521	523	541	547	557	563	569	571	577	587	593	599	601	607	613	617	619	631	641	643	647	653	659	661	673	677	683	691	701	709	719	727	733	739	743	751	757	761	769	773	787	797	809	811	821	823	827	829	839	853	857	859	863	877	881	883	887	907	911	919	929	937	941	947	953	967	971	977	983	991	997	1009	1013	1019	1021	1031	1033	1039	1049	1051	1061	1063	1069	1087	1091	1093	1097	1103	1109	1117	1123	1129	1151	1153	1163	1171	1181	1187	1193	1201	1213	1217	1223	1229	1231	1237	1249	1259	1277	1279	1283	1289	1291	1297	1301	1303	1307	1319	1321	1327	1361	1367	1373	1381	1399	1409	1423	1427	1429	1433	1439	1447	1451	1453	1459	1471	1481	1483	1487	1489	1493	1499	1511	1523	1531	1543	1549	1553	1559	1567	1571	1579	1583	1597	1601	1607	1609	1613	1619	1621	1627	1637	1657	1663	1667	1669	1693	1697	1699	1709	1721	1723	1733	1741	1747	1753	1759	1777	1783	1787	1789	1801	1811	1823	1831	1847	1861	1867	1871	1873	1877	1879	1889	1901	1907	1913	1931	1933	1949	1951	1973	1979	1987	1993	1997	1999	2003	2011	2017	2027	2029	2039	2053	2063	2069	2081	2083	2087	2089	2099	2111	2113	2129	2131	2137	2141	2143	2153	2161	2179	2203	2207	2213	2221	2237	2239	2243	2251	2267	2269	2273	2281	2287	2293	2297	2309	2311	2333	2339	2341	2347	2351	2357	2371	2377	2381	2383	2389	2393	2399	2411	2417	2423	2437	2441	2447	2459	2467	2473	2477	2503	2521	2531	2539	2543	2549	2551	2557	2579	2591	2593	2609	2617	2621	2633	2647	2657	2659	2663	2671	2677	2683	2687	2689	2693	2699	2707	2711	2713	2719	2729	2731	2741	2749	2753	2767	2777	2789	2791	2797	2801	2803	2819	2833	2837	2843	2851	2857	2861	2879	2887	2897	2903	2909	2917	2927	2939	2953	2957	2963	2969	2971	2999	3001	3011	3019	3023	3037	3041	3049	3061	3067	3079	3083	3089	3109	3119	3121	3137	3163	3167	3169	3181	3187	3191	3203	3209	3217	3221	3229	3251	3253	3257	3259	3271	3299	3301	3307	3313	3319	3323	3329	3331	3343	3347	3359	3361	3371	3373	3389	3391	3407	3413	3433	3449	3457	3461	3463	3467	3469	3491	3499	3511	3517	3527	3529	3533	3539	3541	3547	3557	3559	3571	3581	3583	3593	3607	3613	3617	3623	3631	3637	3643	3659	3671	3673	3677	3691	3697	3701	3709	3719	3727	3733	3739	3761	3767	3769	3779	3793	3797	3803	3821	3823	3833	3847	3851	3853	3863	3877	3881	3889	3907	3911	3917	3919	3923	3929	3931	3943	3947	3967	3989	4001	4003	4007	4013	4019	4021	4027	4049	4051	4057	4073	4079	4091	4093	4099	4111	4127	4129	4133	4139	4153	4157	4159	4177	4201	4211	4217	4219	4229	4231	4241	4243	4253	4259	4261	4271	4273	4283	4289	4297	4327	4337	4339	4349	4357	4363	4373	4391	4397	4409	4421	4423	4441	4447	4451	4457	4463	4481	4483	4493	4507	4513	4517	4519	4523	4547	4549	4561	4567	4583	4591	4597	4603	4621	4637	4639	4643	4649	4651	4657	4663	4673	4679	4691	4703	4721	4723	4729	4733	4751	4759	4783	4787	4789	4793	4799	4801	4813	4817	4831	4861	4871	4877	4889	4903	4909	4919	4931	4933	4937	4943	4951	4957	4967	4969	4973	4987	4993	4999	5003	5009	5011	5021	5023	5039	5051	5059	5077	5081	5087	5099	5101	5107	5113	5119	5147	5153	5167	5171	5179	5189	5197	5209	5227	5231	5233	5237	5261	5273	5279	5281	5297	5303	5309	5323	5333	5347	5351	5381	5387	5393	5399	5407	5413	5417	5419	5431	5437	5441	5443	5449	5471	5477	5479	5483	5501	5503	5507	5519	5521	5527	5531	5557	5563	5569	5573	5581	5591	5623	5639	5641	5647	5651	5653	5657	5659	5669	5683	5689	5693	5701	5711	5717	5737	5741	5743	5749	5779	5783	5791	5801	5807	5813	5821	5827	5839	5843	5849	5851	5857	5861	5867	5869	5879	5881	5897	5903	5923	5927	5939	5953	5981	5987	6007	6011	6029	6037	6043	6047	6053	6067	6073	6079	6089	6091	6101	6113	6121	6131	6133	6143	6151	6163	6173	6197	6199	6203	6211	6217	6221	6229	6247	6257	6263	6269	6271	6277	6287	6299	6301	6311	6317	6323	6329	6337	6343	6353	6359	6361	6367	6373	6379	6389	6397	6421	6427	6449	6451	6469	6473	6481	6491	6521	6529	6547	6551	6553	6563	6569	6571	6577	6581	6599	6607	6619	6637	6653	6659	6661	6673	6679	6689	6691	6701	6703	6709	6719	6733	6737	6761	6763	6779	6781	6791	6793	6803	6823	6827	6829	6833	6841	6857	6863	6869	6871	6883	6899	6907	6911	6917	6947	6949	6959	6961	6967	6971	6977	6983	6991	6997	7001	7013	7019	7027	7039	7043	7057	7069	7079	7103	7109	7121	7127	7129	7151	7159	7177	7187	7193	7207	7211	7213	7219	7229	7237	7243	7247	7253	7283	7297	7307	7309	7321	7331	7333	7349	7351	7369	7393	7411	7417	7433	7451	7457	7459	7477	7481	7487	7489	7499	7507	7517	7523	7529	7537	7541	7547	7549	7559	7561	7573	7577	7583	7589	7591	7603	7607	7621	7639	7643	7649	7669	7673	7681	7687	7691	7699	7703	7717	7723	7727	7741	7753	7757	7759	7789	7793	7817	7823	7829	7841	7853	7867	7873	7877	7879	7883	7901	7907	7919	7927	7933	7937	7949	7951	7963	7993	8009	8011	8017	8039	8053	8059	8069	8081	8087	8089	8093	8101	8111	8117	8123	8147	8161	8167	8171	8179	8191	8209	8219	8221	8231	8233	8237	8243	8263	8269	8273	8287	8291	8293	8297	8311	8317	8329	8353	8363	8369	8377	8387	8389	8419	8423	8429	8431	8443	8447	8461	8467	8501	8513	8521	8527	8537	8539	8543	8563	8573	8581	8597	8599	8609	8623	8627	8629	8641	8647	8663	8669	8677	8681	8689	8693	8699	8707	8713	8719	8731	8737	8741	8747	8753	8761	8779	8783	8803	8807	8819	8821	8831	8837	8839	8849	8861	8863	8867	8887	8893	8923	8929	8933	8941	8951	8963	8969	8971	8999	9001	9007	9011	9013	9029	9041	9043	9049	9059	9067	9091	9103	9109	9127	9133	9137	9151	9157	9161	9173	9181	9187	9199	9203	9209	9221	9227	9239	9241	9257	9277	9281	9283	9293	9311	9319	9323	9337	9341	9343	9349	9371	9377	9391	9397	9403	9413	9419	9421	9431	9433	9437	9439	9461	9463	9467	9473	9479	9491	9497	9511	9521	9533	9539	9547	9551	9587	9601	9613	9619	9623	9629	9631	9643	9649	9661	9677	9679	9689	9697	9719	9721	9733	9739	9743	9749	9767	9769	9781	9787	9791	9803	9811	9817	9829	9833	9839	9851	9857	9859	9871	9883	9887	9901	9907	9923	9929	9931	9941	9949	9967	9973